<a href="https://colab.research.google.com/github/SpdFaridah/200daysofcoding/blob/main/Python_Data_Types_Tuple_vs_List_vs_Range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Data Types: Tuple vs List vs Range

In [3]:
# Tuple uses () and is IMMUTABLE (cannot be changed)

birth_years = (2002, 2003, 2004)
print("Birth years:", birth_years)



# List uses [] and is MUTABLE (can be changed)

coursemates = ["Noah", "Enitan", "Brian", "Victor", "Light Pole", "Charles"]
coursemates[2] = "Bryan"  # Corrected a name
coursemates.append("Mukaram")  # Added a new coursemate
print("Coursemates:", coursemates)



# Range generates a sequence of numbers, often used in loops

print("Class sessions:")
for period in range(1, 6, 2):  # Outputs 1, 3, 5, because I already set it to every 2 periods
    print(f"Period {period}: Class in session")



# You can convert a range to a list if needed

class_hours = list(range(9, 12))  # Converts range to list: [9, 10, 11]
print("Class hours :", class_hours)

Birth years: (2002, 2003, 2004)
Coursemates: ['Noah', 'Enitan', 'Bryan', 'Victor', 'Light Pole', 'Charles', 'Mukaram']
Class sessions:
Period 1: Class in session
Period 3: Class in session
Period 5: Class in session
Class hours : [9, 10, 11]